body {
	font-size: 14px;
	color: rgb(255, 255, 255);
}

#textdate {
	font-size: 34px;
	font-family: Comic Sans MS;
	text-align: center;
	color: rgb(218, 8, 8);
	}

#texthour {
		font-size: 70px;
		font-family: Comic Sans MS;
		text-align: center;
		color: rgb(51, 158, 9);
		}

table {
	border-spacing: 0px;
	border: 0px;
	padding: 0px;
	width: 1px;
}

#weather-table, #weather-location-name{
	padding-top: 10px;
	padding-left: 0px;
	width: 100%;
}

weather-icon {
	width: 110px;
	height: 110px;
	padding-right: 0px;
}

#weather-temp {
	text-align: left;
	font-size: 25px;
	width: 1px;
}

#weather-temp-sign {
	vertical-align: top;
	text-align: left;
	padding-top: 12px;
	font-size: 16px;
}

#weather-table-details {
	font-size: 14px;
	text-align: left;
}

#weather-table-details td {
	white-space: nowrap;
}

#weather-forecast-table img {
	width: 80px;
	height:70px;
	padding-left: 10px;

}

#weather-forecast-table td {
  text-align: center;
  vertical-align: text-top;
  font-size: 13px;
}

#weather-forecast-table .temp-max {
	font-size: 18px;
	color: red;
}

#weather-forecast-table .temp-min {
	font-size: 16px;
	color: white;
}